<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platform-application</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
    
    <!---app can't be launched if developer mode not enabled
	<key>com.apple.security.get-task-allow</key>
	<true/>
	<key>get-task-allow</key>
	<true/>
	<key>task_for_pid-allow</key>
	<true/>
	<key>run-unsigned-code</key>
	<true/>-->
    
	<key>proc_info-allow</key>
	<true/>
    
	<key>com.apple.private.security.storage.AppBundles</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
    
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>AGXDeviceUserClient</string>
		<string>IOHDIXControllerUserClient</string>
		<string>IOSurfaceRootUserClient</string>

		<!-- TaskPortHaxx prepare -->
		<string>AppleMobileFileIntegrityUserClient</string>
	</array>
    
	<key>com.apple.private.persona-mgmt</key>
	<true/>
    
    <key>com.apple.private.MobileContainerManager.allowed</key>
    <true/>
    
    <key>com.apple.springboard.launchapplications</key>
    <true/>
    <key>com.apple.backboardd.launchapplications</key>
    <true/>

    <key>com.apple.lsapplicationworkspace.rebuildappdatabases</key>
    <true/>

	<!-- TaskPortHaxx prepare -->
	<key>com.apple.private.amfi.can-load-trust-cache</key>
	<true/>
	<key>com.apple.private.pmap.load-trust-cache</key>
	<array>
		<string>global.pdi</string>
		<string>personalized.pdi</string>
		<string>personalized.ddi</string>
	</array>
    
</dict>
</plist>
