<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!-- strip these 3 banned entitlements before re-sign
	<key>com.apple.private.skip-library-validation</key>
	<false/>
	<key>com.apple.private.cs.debugger</key>
	<false/>
	<key>dynamic-codesigning</key>
	<false/>
-->
	<key>platform-application</key>
	<true/>
	<key>get-task-allow</key>
	<true/>
	<key>com.apple.private.persona-mgmt</key>
	<true/>
</dict>
</plist>
