Package: fakekrw
Author: Cryptiiiic <liamwqs@gmail.com>
Maintainer: Procursus Team <support@procurs.us>
Architecture: iphoneos-arm64e
Version: 1.0.0
Provides: libkrw0-plugin
Depends: libiosexec1 (>= 1.3.1), firmware (>= 15.0), libkrw0
Section: Libraries
Priority: standard
Homepage: https://github.com/Cryptiiiic/libjbdrw
Description: fake package for libkrw0-plugin
Installed-Size: 60
